body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.userInfo {
  color: #e54b4b;
  padding: 5px;
  display: flex;
  align-items: center;
  /* border: 1px solid #cebc81; */
  border-radius: 5px;
}

.userInfo h2,
h4 {
  padding: 2px;
}
